@model IEnumerable<UPS.SpaceX.Core.GiverDto>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    @section scripts{
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script src="~/Scripts/actions/reserve.js"></script>>

    }

    <h2 class="centerText">Desk</h2>
    <select id="DropDownAvailableDesks">
        @foreach (UPS.SpaceX.Core.GiverDto desk in Model)
        {
            <option id="@desk.Desk">@desk.Desk</option>
        }
    </select>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Desk</th>
                <th scope="col">Date</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UPS.SpaceX.Core.GiverDto val in Model)
            {
                <tr>
                    <td id="desk_select">@val.Desk</td>
                    <td id="date_select">@val.Date.ToString("MM/dd/yyyy")</td>
                    <td id="email_select">@val.Email</td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>