<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name='viewport'
          content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="b1">
    <div class="container body-content" style="align-items:center">
        @RenderBody()
        <br />
        <p style="font-size:30pt;text-align:center;color:white"><img id="logo" src="~/Content/Images/UPS-Logo.png"><b> OPEN DESK</b></p>
        <br /><br />
        <div class="col-md-13 text-center">
            @Html.ActionLink("Donate Your Desk", "Donate", "Home", new { @id = "HomeNav", @class = "btn btn-warningHome" })<br />
            @Html.ActionLink("Reserve a Desk", "Reserve", "Home", new { @id = "HomeNav", @class = "btn btn-warningHome" })<br />
            @Html.ActionLink("Current Reservation", "LookUp", "Home", new { @id = "HomeNav", @class = "btn btn-warningHome" })<br />
            @Html.ActionLink("Floor Maps", "FloorMap", "Home", new { @id = "HomeNav", @class = "btn btn-warningHome" })
        </div>
        <hr />
        <footer>
            <p style="text-align:center; font-size: 10px">
                Copyright &copy; @DateTime.Now.Year United Parcel Service of America, Inc. All  Rights Reserved.
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>